#main{
	height:100px;
}
#t4{
	color:white;
	background-color:black;
	text-align:center;
}
#Nested2
{
	width:300px;
	text-align:center;
}
#Nested1
{
	width:250px;
	text-align:center;
	
	
}
#Nested4
{
	width:250px;
	text-align:center;
	
	
}
#first{
	height:200px;
	
}
#second{
	height:100px;
}
#Nested3
{
	width:300px;
	text-align:center;
	
	
}


/* Your CSS Code here. */